{% extends "layout.html" %}

{% block content %}

<img class="contain" src={{ tichonet_image }} alt='Missing'>
<h2  style="font-family:'Futura Std'">{{ message }}</h2>

<p>
    Name: Nadav Eisen
</p>

<p>
    Class: 10th grade - 1
</p>

<p>
___________________________________________________________________________________________________________________
</p>

<p>
    This project is about the relationship between crime rates, real estate sales, party complaints and airbnb rentals in NYC
</p>

<p>
    For this unique data science project, I had to make a website to present my findings after analyzing the data with the python extension "pandas"
</p>

<p>
    I used a flask solution to build this website, which I uploaded to github, and then here to pythonanywhere
</p>

<a class="btn btn-default" href="http://www.tichonet.com/BRPortal/br/P100.jsp">School &raquo;</a>
<a class="btn btn-default" href="https://github.com/nadaveisentemp/Final-data-science-project-2020">Github: &raquo;</a>
<a class="btn btn-default" href="https://docs.google.com/document/d/1idhrlGZhkC1kBGgztXQQ8iakD4eUyWvYXmHFcK634Wc/edit?usp=sharing
">Assignment requirements: &raquo;</a>
{% endblock %}
