{% extends "layout.html" %}

{% block content %}

<h1 style="font-family:'Futura Std'">{{ title }}.</h1>
<h3><i>{{ message }}</i></h3>

<table border="0">
    <tr>
        <td>
            <img src="/static/Pics/newYorkPic.png" width="400" height="300" />
        </td>
        <td>
            <img src="/static/Pics/NYC1.jpeg" width="400" height="300" />
        </td>
        <td>
            <img src="/static/Pics/NYC2.jpg" width="400" height="300" />
        </td>

    </tr>

    <tr>
        <td>
            <img src="/static/Pics/NYC3.jpeg" width="400" height="300" />
        </td>
        <td>
            <img src="/static/Pics/NYC4.jpg" width="400" height="300" />
        </td>
        <td>
            <img src="/static/Pics/NYC5.jpg" width="400" height="300" />
        </td>

    </tr>

    <tr>
        <td>
            <img src="/static/Pics/NYC6.jpg" width="400" height="300" />
        </td>
        <td>
            <img src="/static/Pics/NYC7.jpeg" width="400" height="300" />
        </td>
        <td>
            <img src="/static/Pics/NYC8.jpg" width="400" height="300" />
        </td>

    </tr>
</table>

{% endblock %}
